*{  /*universal selector*/
    box-sizing: border-box;
    margin: 0px 1px;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{/*element or type selector*/
    background-color: rgb(236, 203, 147);
    /*functional value*/
    display: flex;
    flex-direction: column;
    gap :1rem;
}

header{/*element or type selector*/
    display: flex;
    align-items: center;
    width:100%;/*relative value*/
    height: 4.5rem;/*2rem=32px*//*relative value*/
    /*height=200px -->fixed height*/
    background-color: antiquewhite;
    justify-content: space-around;
    border: 1px solid black;/* css short hand operator*/
}

section{
      /* Takes less horizontal space */
    display: flex;
    height: 30rem;
    background-color: antiquewhite;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0rem 0;
}

.main-content-row {
    display: flex;
    gap: 1rem; /* Space between the form and the lists */
    padding: 0;
}

.right{
    width: 50%;  
}

aside{
    width: 50%;
    background-color: antiquewhite;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

aside h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem; 
}

.lists{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 15rem;

    width: 100%;
}

aside ol {
    padding-left: 1.5rem;
    list-style-type: lower-roman;
}

aside dl dt {
    font-weight: bold;
    margin: 0;
}

dt, dd{
    display:inline;
    font-size: 1.1rem;
}

dd::after{
    content: "\A";   
    white-space: pre;
}

.table{
    padding: 0;
    margin-top: 1rem;
    font-size: 1.1rem;
}
table {
    width: 100%;
    border-color: black;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    height: 3rem;
    text-align: center;
}

ul{
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

nav ul li:first-child{ /*Pseudo-class selector*/
    font-weight: bold;
}

.logo{
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    background-color: blueviolet;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center; /*horizontal center*/
    align-items: center; /*vertical center*/
}

form{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    width: 80%;
    gap: 1rem;
    margin-top: 1rem;
}

form input{
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    
}

form input::placeholder{
    font-size: 1rem;
}

form button{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 16px 32px;
    align-items: center;
    display: inline-block;
    transition-duration: 0.4s;
    height: 3rem;
    width: 30%; 
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;  
}

form button:hover{
    background-color:  #906be1;
    color: white;
}

.box{
    font-size: 1rem;
    border: 1px solid black;
    width: 50%;
    height: 20rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
 
.multimedia-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row;
}

.multimedia-container img, 
.multimedia-container video {
    width: 45%; 
    max-width: 450px; 
    height: auto; 
}

