*{
    box-sizing: border-box;
    font-family:'Times New Roman', serif;
    font-weight: lighter;
}

body{
    background-color: #1e2a73;
    display: grid;
    gap: 0.6rem;

    grid-template-areas: 
        "header header"
        "section aside"
        "output output"
        "footer footer"
    ;

    grid-template-columns: 1fr 1fr;
}

h2{
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
}

header, footer, section, aside, .output {
    background-color: #BBE0EF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

main{
    display: contents;
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}

footer{
    grid-area: footer;
    font-size:0.7rem;
}

.section_output{
    grid-area: output;
}

section{
    grid-area: section;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

section form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
}

section form input{
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid rgb(243, 226, 226);
}

button{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: none;
    background-color: #db8132;
    border-radius: 10px;
    color: white;
}

button:hover{
    background-color: #e6af63;
    cursor: pointer;
}

.show_data{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
    justify-content: center;
}

.border{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
    background:aliceblue;
}

.details dd,dt{
    display: inline;
    font-size: 1.4rem;
}

.details dd:after{
    content: "\A";
    white-space: pre;
}

@media (max-width: 700px){
    body{
        grid-template-areas: 
            "header"
            "section"
            "aside" 
            "footer"
        ;
    }
}